a {
  text-decoration: none;
  color: lightcoral;
  font: bold 25px Proxima Nova;
  margin-right: 10px;
}

.main {
  background: #f8f8f8;
}

.meigen {
  width: 100%;
}

.message {
  text-align: center;
  font: bold 35px/80px Tsukushi A Round Gothic;
  color: #707070;
  opacity: 1;
}

.good-points {
  display: flex;
  justify-content: space-around;
}

.good-point-left {
  margin-top: 7vw;
  text-align: center;
  font: bold 30px/25px Tsukushi A Round Gothic;
  letter-spacing: 10px;
  color: indianred;
}

.good-point-left1 {
  margin-top: 5vw;
  text-align: center;
  font: bold 25px/35px Tsukushi A Round Gothic;
  color: #707070;
  letter-spacing: 2px;
}

.good-point-right {
  margin-top: 7vw;
  text-align: center;
  font: bold 30px/25px Tsukushi A Round Gothic;
  letter-spacing: 10px;
  color: indianred;
}

.good-point-right1 {
  margin-top: 5vw;
  text-align: center;
  font: bold 25px/35px Tsukushi A Round Gothic;
  color: #707070;
  letter-spacing: 2px;
}

.item-contents {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10vh 0;
}

.item-subtitle {
  font: bold 40px/35px Tsukushi A Round Gothic;
  color: dodgerblue;
  margin-top: 5vw;
}

.item-contents {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10vh 0;
}

.item-contents > .title {
  font-size: 5vh;
  line-height: 1.4;
  font-weight: bold;
}

.item-contents > .subtitle {
  font-size: 3vh;
  margin: 1vh 0;
  text-decoration: none;
  color: #3ccace;
  font-weight: bold;
}

.item-lists {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 250px;
  width: 95vw;
  margin-left: 40px;
}

.card {
  width: 350px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px #ccc;
  margin: 30px;
}
.card-img {
  border-radius: 5px 5px 0 0;
  width: 48.5vh;
  height: 43vh;
}
.card-content {
  padding: 5px;
}
.card-title {
  font: bold 20px Tsukushi A Round Gothic;
  margin-bottom: 5px;
  text-align: center;
  color: #777;
}
.card-text {
  color: #777;
  font-size: 14px;
  line-height: 1.5;
  height: 3vh;
}
.card-link {
  text-align: center;
  border-top: 1px solid #eee;
  padding: 5px;
}
.card-link a {
  text-decoration: none;
  color: red;
  margin: 0 10px;
}
.card-link a:hover {
  color: #0090aa;
}
