a {
  text-decoration: none;
  color: lightcoral;
  font: bold  25px Proxima Nova;
  margin-right:10px;
}

.main {
  background: #f8f8f8;
}

.meigen{
width: 100%;
}

.message
{
  text-align: center;
  font: bold 35px/60px Tsukushi A Round Gothic;
  color: #707070;
  opacity: 1;
}

.good-points
{
  display:flex;
  justify-content: space-around;
}

.good-point-left{
  margin-top: 5vw;
  text-align: center;
  font: 30px/30px Tsukushi A Round Gothic;
  letter-spacing: 10px;
  color: #1C2126;
}

.good-point-left1{
  margin-top: 5vw;
  text-align: center;
  font: 25px/35px Tsukushi A Round Gothic;
  color: #1C2126;
  letter-spacing: 2px;
}


.good-point-right{
  margin-top: 5vw;
  text-align: center;
  font: 30px/30px Tsukushi A Round Gothic;
  letter-spacing: 10px;
  color: #1C2126;
}

.good-point-right1{
  margin-top: 5vw;
  text-align: center;
  font: 25px/35px Tsukushi A Round Gothic;
  color: #1C2126;
  letter-spacing: 2px;
}

.item-contents {
  background-color: #FFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10vh 0;
}

.item-title {
 font-size: 40px;
}

.item-subtitle{
  font-size: 40px;
  color: #3ccace;
  margin-top: 5vw;
}


.item-contents {
  background-color: #FFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10vh 0;
}

.item-contents>.title {
  font-size: 5vh;
  line-height: 1.4;
  font-weight: bold;
}

.item-contents>.subtitle {
  font-size: 3vh;
  margin: 1vh 0;
  text-decoration: none;
  color: #3ccace;
  font-weight: bold;
}

.item-lists {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 400px;
  width: 100vw;
}

.item-lists>.list {
  width: 37vh;
  padding: 1vw;
  background-color: #FFF;
  
}


.item-img-content {
  position: relative;

}

.item-img {
  
  width: 45vh;
  height: 45vh;
  border-radius: 50%;  /* 角丸半径を50%にする(=円形にする) */
  background-position: left top;  /* 横長画像の左上を基準に表示 */

}



.item-name {
  font-size: 2.5vh;
  text-decoration: none;
  margin-left: 10px;
  color:gray;
}