/* 商品の概要 */

.item-show {
  background-color: #f8f8f8;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5vh 0;
}

.item-box {
  background-color: #fff;
  width: 70vw;
  min-width: 1200px;
  padding: 10vh 15vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.box18 {
  position: relative;
  margin: 2em 0px;
  padding: 1em 4em;
  border-width: 2px;
  border-style: solid;
  border-color: #d6d40d;
  border-image: initial;
  border-radius: 3px 0px;
}
.box18:before,
.box18:after {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  border: solid 2px #ffcb8a;
  border-radius: 50%;
}
.box18:after {
  top: -12px;
  left: -12px;
}
.box18:before {
  bottom: -12px;
  right: -12px;
}
.box18 p {
  margin: 0;
  padding: 0;
  text-align: center;
  font: bold 40px/50px Tsukushi A Round Gothic;
  letter-spacing: 10px;
}

.item-box > .name {
  text-align: center;
  font-weight: bold;
  font-size: 40px;
  margin-bottom: 30px;
}

.item-box-img {
  height: 50vh;
  width: 60vw;
  min-height: 500px;
  background-color: rgb(205, 202, 202);
  object-fit: contain;
}

.item-price-box {
  margin: 25px 0px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.item-price-box > .item-price {
  font-size: 4vh;
  font-weight: bold;
}

.item-price-box > .item-postage {
  font-size: 16px;
}

.item-red-btn2 {
  text-align: center;
  background-color: #00adff;
  font-size: 24px;
  font-weight: bold;
  color: #fff;
  margin: 20px 0px;
  padding: 2vh 10vw;
}
.item-red-btn {
  text-align: center;
  background-color: #ea352d;
  font-size: 24px;
  font-weight: bold;
  color: #fff;
  margin: 20px 0px;
  padding: 2vh 10vw;
}

.or-text {
  font-size: 20px;
}

.item-destroy {
  background-color: lightgray;
  text-align: center;
  font-size: 24px;
  color: black;
  margin: 20px 0px;
  padding: 2vh 10vw;
}

.item-explain-box p {
  margin: 0;
  padding: 0;
  font: bold 25px/30px Tsukushi A Round Gothic;
}

.item-explain-box {
  padding: 1em 1em;
  margin: 2em 0;
  border: double 5px #f3cf03;
  text-align: center;
}

.detail-table {
  margin-bottom: 30px;
  width: 100%;
}

.detail-item {
  width: 20%;
  background-color: #eee;
  border: 1px solid #dedede;
  font-size: 14px;
  text-align: center;
}

.detail-value {
  width: 80%;
  padding: 20px;
  border: 1px solid #dedede;
  font-size: 14px;
}

.option {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.favorite-btn {
  border-radius: 40px;
  width: 15vw;
  min-width: 200px;
  color: rgb(249, 75, 0);
  border: 2px solid #ffb340;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
}

.favorite-star-icon {
  margin-right: 5px;
}

.report-btn {
  border-radius: 40px;
  width: 15vw;
  min-width: 200px;

  padding: 1vh 0;
  color: black;
  border: 2px solid #2d2d2d;
  display: flex;
  justify-content: center;
  align-items: center;
}

.report-flag-icon {
  margin-right: 5px;
}

/* /商品の概要 */

.comment-box {
  width: 40vw;
  background-color: #fff;
  margin: 5vh 0;
  text-align: center;
}

.comment-text {
  width: 100%;
  height: 100px;
  padding: 10px;
  border: solid 2px #dedede;
  resize: none;
}

.comment-warn {
  padding: 10px;
  font-size: 14px;
  margin: 10px 0px;
  text-align: left;
}

.comment-btn {
  line-height: 48px;
  background-color: #00adff;
  border: 1px solid #00adff;
  color: #fff;
  width: 50%;
  min-width: 150px;
  font-size: 18px;
  border-radius: 100px;
  margin-bottom: 2vh;
}

.comment-flag {
  display: flex;
  justify-content: center;
}

.comment-flag-icon {
  margin: 10px 5px 0 0;
}

#messages {
  background-color: #fafafa;
  height: calc(100vh - 100px - 90px);
  padding: 46px 40px 0;
  overflow: scroll;
}

.message {
  margin: 10px 0;
}

.upper-message {
  display: flex;
}

.message-user {
  color: #434a54;
  font-size: 16px;
}

.message-date {
  color: #999;
  font-size: 12px;
  padding-left: 10px;
}

.lower-message {
  margin-top: 10px;
}

.message-content {
  color: #434a54;
  font-size: 14px;
  margin-bottom: 40px;
}

.links {
  display: flex;
  justify-content: space-between;
  width: 50vw;
}

.change-item-btn {
  font-size: 30px;
  text-decoration: none;
  color: #3ccace;
}

.another-item {
  display: block;
  margin: 30px 0px 8px;
  color: #3ccace;
  text-decoration: none;
  font-weight: bold;
  font-size: 23px;
}
