<div class="side-bar-header">
  <div class="header-name">
    <a href="#">ログインしているユーザ名</a>
  </div>
  <div class="create-room">
 
  </div>
</div>


<div class="rooms">
  <div class="room">
    <div class="room-name">
      <a href="#">チケット名のルーム</a>
    </div>
  </div>
  <div class="room">
    <div class="room-name">
      <a href="#">チケット名のルーム</a>
    </div>
  </div>
</div>