<div class="side-bar-header">
  <div class="header-name">
   ログインユーザ名<br>【<%= current_user.nickname %>】
  </div>
  <div class="create-room">
 
  </div>
</div>


<div class="rooms">  
   <% current_user.rooms.each do |room| %>
    <div class="room">
      <div class="room-name">
   
      </div>
    </div>
  <% end %>
</div>