<div class="side-bar-header">
  <div class="header-name">
    <a href="#">ログインしているユーザ名</a>
  </div>
  <div class="create-room">
 
  </div>
</div>


<div class="rooms">
　　ログインユーザー部屋一覧<br><br>
    (チケット名)の部屋<br>
    (チケット名)の部屋<br>
   <% current_user.rooms.each do |room| %>
    <div class="room">
      <div class="room-name">
        <a href="#"><%= room.name%></a>
      </div>
    </div>
  <% end %>
</div>