*{
  box-sizing: border-box;
}

.footer{
background-color: #E58888;
 width: 100vw;
 padding: 2vh 15vw;
 display: flex;
 flex-direction: column;
}

.footer-contents{
 display:flex;
 justify-content: space-between;
}

.footer-left{
  text-align: left;
  font: normal bold 40px/20px Proxima Nova;
  letter-spacing: 0.5px;
  color: #1C2126;
  opacity: 1;
}

.fish{
  width: 20vh;
  background: #E58888 ;
  margin-left: 60px;
}


.footer-center{
font: bold 30px/30px Proxima Nova;
text-align:center;
display: flex;
justify-content: space-around;
flex-direction: column;
}

.footer-right{
font: bold 30px/30px Proxima Nova;
text-align:center;
display: flex;
justify-content: space-around;
flex-direction: column;
margin-right:100px;
}

.user_nav_grid-6{
  display: flex;
  flex-flow: column;
  margin:10px;
}

.grid-6{
  display: flex;
  flex-flow: column;
  margin:10px;
}


.login{
 margin:50px;
 color: #1C2126;
}

.sign-up{
 margin:50px;
 color: #1C2126;
}