*{
  box-sizing: border-box;
}

.top-page-header {
 width: 100vw;
 padding: 2vh 15vw;
}


.top-bar-contents {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.left-top{
 display: flex;
}

.title{
  margin-top: 35px;
  text-align: center;
  font:  bold  50px Proxima Nova;
  letter-spacing: 2px;
  color: #D02E28;
  opacity: 1;
}



.katsuo {
 width: 15vh;
 margin-right: 10vw;
 height: 15vh;
}

.right_top{
  display: flex;
}

#q_category_id_eq{
  height: 45px;
  width: 10vw;
  padding-left: 20px;
  border-radius: 10px;
  position: absolute;
  right: 351px;
  background: whitesmoke;
}

.submit-btn{
  background: whitesmoke;
  border-radius: 10px; 
  position: absolute;
  left: 1100px;
  top: 110px;
  width: 5vw;

  border-color:orange ;
}




.ticket-search{
 margin-left:10px;

}

.nav {
margin-top: 20px;
 font-size:20px;
 display: flex;
 justify-content: space-between;
 flex-wrap: wrap;
 width: 100%;
 padding: 1vh 0;
}

.lists-left {
  display: flex;
}

.item-list{
  display: flex;
  text-decoration: none;
  margin-right: 3vw;
  color: #333333;
  font:  bold  25px Proxima Nova;
}

.item-new{
  display: flex;
  text-decoration: none;
  margin-right: 3vw;
  color: #333333;
  font:  bold  25px Proxima Nova;
}

.item-message{ 
  display: flex;
  text-decoration: none;
  margin-right: 3vw;
  color: #333333;
  font:  bold  25px Proxima Nova;
}

.lists-right {
  display: flex;
  
  list-style: none;
  justify-content: space-between;
  min-width: 200px;
}

.user_nav{
  text-decoration: none;
}


.user-nickname {
  text-decoration: none;
  margin-right: 3vw;
  color: #333333;
  font:  bold  25px Proxima Nova;
}


.logout {
  text-decoration: none;
  color: #333333;
  font:  bold  25px Proxima Nova;
}


.grid-6{
  display:flex;
  text-decoration: none;

}

.login {
  text-decoration: none;
  color: #333333;
  font:  bold  25px Proxima Nova;
  

}

.sign-up {
  text-decoration: none;
  color: #333333;
  font:  bold  25px Proxima Nova;
}