<footer class='footer'>
 <div class= 'footer-contents'>

   <div class = 'footer-left'>
    <ul>Fish man's<br><br>company</ul>  
    <%= link_to image_tag "fish.png" , class: "fish" %>
   </div>

   <div class = 'footer-center'> 
    <ul>チケットを見直す</ul>
    <ul>出品する</ul>
   </div>

   <div class= 'footer-right'>
    <ul>会員情報変更</ul>
    <ul>退会手続き</ul>
   </div>
  </div>
</footer>
